<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Le Moulin de Champdurand, Liste des soins comprenant massage et relaxation</title>
	<meta name="description" content="Venez vous relaxer au Moulin de Champdurand à l'aide des nombreux soins et massages proposés." />
	<link rel="shortcut icon" type="image/x-icon" href="image/iconev2.png"/>
	<link rel="stylesheet" href="css/style.css" title="css"/>
</head>

<!-- Corp du site -->
<body>
	<header>
		<img id="logo_titre" src="image/banierev5.png" alt="" />
		<!-- Old Menu
		<img id="logo_titre" src="image/test_logo.png" alt="" />
		<h1>Le Moulin de Champdurand</h1>
		-->
		<!-- Menu du site Web -->
		<nav>
				<ul class="menu">
						<li><a href="index.html" >Acceuil</a></li>
						<li><a href="galerie.html">Galerie</a></li>
						<li><a href="Laregion.html">La Region</a></li>
						<li><a href="bien-etre.html">Bien-être</a></li>
						<li><a href="repas.html">A Table</a></li>
						<li><a href="tarifs.html">Tarifs</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="acces.html">Accès</a></li>
				</ul>
		</nav>
		<!-- Fin menu du site Web -->
	</header>
	<div class="contenu-repas" style="height: auto;overflow: hidden;">
		<p class="titre-chambre" style="float: left;line-height: 10px;padding-left: 35px;padding-right: 500px;padding-top: 20px;font-size: 22px;color: rgb(52, 73, 94);">Liste Des soins<br/>
					   _______________</p>
		<table class="liste-massage">
			<tr>
				<td style="font-weight:bold">Massage du visage + crâne</td>
			</tr>
			<tr style="">
				<td  class="desc">(huile d'Argan) 30min</td>
				<td>35 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Massage de relaxation</td>
			</tr>
			<tr>
				<td class="desc">(huiles essentielles) 30min</td>
				<td>30 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Massage énergétique chinois </td>
			</tr>
			<tr>
				<td class="desc">(déblocage des tensions) 30min</td>
				<td>45 €</td>
			</tr>
			<tr>
				<td  class="desc" style="padding-left: 175px;">1h</td>
				<td>70€</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Massage du dos</td>
			</tr>
			<tr>
				<td class="desc">30min</td>
				<td>35 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Massage aux pierres d'argiles chaudes</td>
			</tr>
			<tr>
				<td class="desc">1h</td>
				<td>70 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Massage au beurre de karité</td>
			</tr>
			<tr>
				<td class="desc">(nourissant : choco, miel, ...)  1h</td>
				<td>65 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">L'oriental</td>
			</tr>
			<tr>
				<td class="desc">(gommage savon noir, massage à l'huile d'argan)</td>
			</tr>
			<tr>	
				<td class="desc">(en chambre car douche après gommage) 1h</td>
				<td>75 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Soleil levant</td>
			</tr>
			<tr>
				<td class="desc">(massage énergétique chinois au karité intense) 1h</td>
				<td>75 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Harmonessence</td>
			</tr>
			<tr>
				<td class="desc">(massage aux pierres chaudes + visage et crâne) 1h</td>
				<td>75 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Rêve d'ange</td>
			</tr>
			<tr>
				<td class="desc">(massage à la poudre de soie, décontraction intense) 1h</td>
				<td>75 €</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Rêve d'Asie</td>
			</tr>
			<tr>
				<td class="desc">(massage profond et drainant) 1h</td>
				<td>75 €</td>
			</tr>
		</table>
		<img src="image/bien-etre.jpg" alt="" style="float: left;margin-bottom: 25px;border: 4px solid;border-color: rgb(189, 195, 199);"/>
	</div>
	<footer class="footer" >
		<div>
			<div style="margin-left: auto;margin-right: auto;width: 700px;">
				<img class="logo_footer" src="image/petifute-logo2.png" alt=""/> 
				<img class="logo_footer" src="image/logo-marie.png" alt="" />
				<img class="logo_footer" src="image/routard-logo2.png" alt="" />
			</div>			
			<p id="texte_footer"><strong>Le Moulin de Champdurand</strong>, 972, chemin Champdurand, 26790 - SUZE-LA-ROUSSE Tél : + 33 (0)4.75.98.87.59<br/>
			Nombre de visite sur le site : <img src="http://www.mon-compteur.fr/html_c01genv2-156098-3" style="border: 0;" alt=""/><br/>

								 ___________________________________________________________________________________________________<br/>
								 Copyright © 2014 All Rights Reserved</p>
		</div>
	</footer>
</body>

</html>