<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Le Moulin de Champdurand, Prix réservation chambre standard ou premium avec ou sans demi-pension</title>
	<meta name="description" content="Liste des prix et des formules disponible pour réserver une chambre au Moulin de Champdurand." />
	<link rel="shortcut icon" type="image/x-icon" href="image/iconev2.png"/>
	<link rel="stylesheet" href="css/style.css" title="css"/>
</head>

<!-- Corp du site -->
<body>
	<header>
		<img id="logo_titre" src="image/banierev5.png" alt="" />
		<!-- Menu du site Web -->
		<nav>
				<ul class="menu">
						<li><a href="index.html" >Acceuil</a></li>
						<li><a href="galerie.html">Galerie</a></li>
						<li><a href="Laregion.html">La Region</a></li>
						<li><a href="bien-etre.html">Bien-être</a></li>
						<li><a href="repas.html">Repas</a></li>
						<li><a href="tarifs.html">Tarifs</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="acces.html">Accès</a></li>
				</ul>
		</nav>
		<!-- Fin menu du site Web -->
	</header>
	<div class="contenu" style="height: auto;">
			<div id="chambre-standard" >
				<p class="titre-chambre" style="line-height: 10px;">Chambre Standard<br/>
					________________</p>
				<img src="image/chambre/chambre_standard.jpg" alt=""/>
				<p class="sous-titre-chambre" style="text-align: left;line-height: 10px;padding-left:13px;">Formule Classique<br/>
				   _________________</p>
				<ul>
					<li>Petit Déjeuner inclus</li>					
				</ul>
				<p><br/><br/>Prix : 80 € à 85 €*</p>
				<p	class="sous-titre-chambre" style="text-align: left;line-height: 10px;padding-left:13px;">Formule 1/2 Pension<br/>
				   __________________</p>
				<ul>
					<li><a href="repas.html" style="text-decoration:none;color: rgb(44, 62, 80);">Repas du soir pour 2 personnes inclus</a></li>
				</ul>			
				<p><br/><br/>Prix : 130 € à 135 €*</p>
			</div>
			<div id="chambre-premium" >
				<p class="titre-chambre" style="line-height: 10px;">Chambre Premium<br/>
					_________________</p>
				<img src="image/chambre/chambre_premium.jpg" alt=""/>
				<p class="sous-titre-chambre" style="text-align: left;line-height: 10px;padding-left:13px;">Formule Premium<br/>
				   _________________</p>
				<ul>
					<li>Petit Déjeuner inclus</li>
				</ul>
				<p><br/><br/>Prix : 90 € à 95 €*</p>
				<p class="sous-titre-chambre" style="text-align: left;line-height: 10px;padding-left:13px;">Formule 1/2 Pension<br/>
				   __________________</p>
				<ul>
					<li><a href="repas.html" style="text-decoration:none;color: rgb(44, 62, 80);">Repas du soir pour 2 personnes inclus</a></li>
				</ul>
				<p><br/><br/>Prix : 140 € à 145 €*</p>
			</div>
			<div id="supplément">
				<p class="sous-titre-chambre" style="text-align: center;margin: 0;line-height: 10px;padding-top:10px;padding-left:13px;margin-bottom: 10px;">Supplément<br/>
				   ___________</p>
				<ul style="float: left;margin:0;margin-left: 200px;padding-bottom: 15px;width: 250px;">
					<li>Possibilité un lit supplémentaire : 30 €</li>
				</ul>
				<p style="float: left;margin: 0;margin-left: 30px;height: 22px;padding: 0px;">* Haute saison du 1 Juillet au 31 Août et jours fériés<br/></p>
			</div>
			<p style="float: left;margin-bottom: 15px;width: 730px;margin-left:130px;font-size: 15px;">			
			Nous acceptons les règlement :
			Espèces - Chèques - Virement bancaire <a href="contact.html" style="text-decoration:none;color: rgb(44, 62, 80);">(nous contacter)</a><br/>

			Un accompte de 30% vous sera demandé pour toute réservation.
			Le solde restant sera à régler en début de séjour.</p>
	</div>
	<footer class="footer" >
		<div>
			<div style="margin-left: auto;margin-right: auto;width: 700px;">
				<img class="logo_footer" src="image/petifute-logo2.png" alt=""/> 
				<img class="logo_footer" src="image/logo-marie.png" alt="" />
				<img class="logo_footer" src="image/routard-logo2.png" alt="" />
			</div>			
			<p id="texte_footer"><strong>Le Moulin de Champdurand</strong>, 972, chemin Champdurand, 26790 - SUZE-LA-ROUSSE Tél : + 33 (0)4.75.98.87.59<br/>
			Nombre de visite sur le site : <img src="http://www.mon-compteur.fr/html_c01genv2-156098-3" style="border: 0;" alt=""/><br/>

								 ___________________________________________________________________________________________________<br/>
								 Copyright © 2014 All Rights Reserved</p>
		</div>
	</footer>
</body>

</html>